# Zephyr and CMake build output
/build/

# Zephyr Twister test output
/twister-out/

# Python bytecode caches created by host-side test or helper scripts
__pycache__/
*.py[cod]

# Local Wi-Fi credentials
/wifi.conf

# Local Zenoh router endpoint
/zenoh.conf
